<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
 
<configuration>
    <settings>
        <setting name="cacheEnabled" value="false" />
        <setting name="useGeneratedKeys" value="true" />
        <setting name="defaultExecutorType" value="REUSE" />
    </settings>
    <typeAliases>
        <typeAlias alias="user" type="com.JunChang.SpringCalendar.bean.UserBean"></typeAlias>
        
        <typeAlias alias="String" type="java.lang.String"></typeAlias>
        <typeAlias alias="List" type="java.util.List"></typeAlias>
        <typeAlias alias="Integer" type="java.lang.Integer"></typeAlias>
        <typeAlias alias="Map" type="java.util.Map"></typeAlias>
        <typeAlias alias="HashMap" type="java.util.HashMap"></typeAlias>
    </typeAliases>
</configuration>